<div>
  <h3>Editar película</h3>

  <h2>{{this.oneMovie.title}}</h2>
  <form action="/movies/{{this.oneMovie._id}}/edit" method="post">
    <div>
      <label for="title">Nombre</label>
      <input type="text" name="title" value="{{this.oneMovie.title}}" />
    </div>
    <div>
      <label for="genre">Nombre</label>
      <input type="text" name="genre" value="{{this.oneMovie.genre}}" />
    </div>
    <div>
      <label for="plot">Nombre</label>
      <input type="text" name="plot" value="{{this.oneMovie.plot}}" />
    </div>
    <div>
      <select name="cast" multiple>
        {{#each this.allCelebs}}
          <option value="{{this._id}}" >{{name}}a</option>

          
             {{#each this.oneMovie.cast}}
                <option value="{{this._id}}">{{this.name}}</option>
                 {{#if (this._id _id)}}  {{! works! }}
                     OK
                  {{/if}}
            {{/each}} 
        {{/each}}
            
      </select>
    </div>
    <button>Actualizar</button>
  </form>
</div>