<div>
  <h3>Editar película</h3>

  <h2>{{this.oneMovie.title}}</h2>
  <form action="/movies/{{this.oneMovie._id}}/edit" method="post">
    <div>
      <label for="title">Nombre</label>
      <input type="text" name="title" value="{{this.oneMovie.title}}" />
    </div>
    <div>
      <label for="genre">Nombre</label>
      <input type="text" name="genre" value="{{this.oneMovie.genre}}" />
    </div>
    <div>
      <label for="plot">Nombre</label>
      <input type="text" name="plot" value="{{this.oneMovie.plot}}" />
    </div>
    <div>
      <select name="cast" multiple>
        {{#each this.arrayCeleb}}
          {{#if this.selected}}
            <option
              value="{{this._id}}"
              selected
            >{{name}}a</option>

          {{else}}
            <option value="{{this._id}}">{{name}}</option>
          {{/if}}

        {{/each}}

      </select>
    </div>
    <button>Actualizar</button>
  </form>
</div>